# NEW IMPL

In [36]:
import pandas as pd
import numpy as np

## Merging datasets

In [3]:
import pandas as pd

# URL of the CSV file
url = "./data/audit.csv"
# Read the CSV into a DataFrame
df = pd.read_csv(url)

# Display the first few rows of the DataFrame
df.head()

,_id,supplier_name,public_water_system_id,reporting_month,county,hydrologic_region,climate_zone,total_population_served,reference_2014_population,county_under_drought_declaration,...,reported_preliminary_commercial_industrial_and_institutional_wa,reported_final_commercial_industrial_and_institutional_water,reported_recycled_water,reported_non_revenue_water,calculated_total_potable_water_production_gallons_ag_excluded,calculated_total_potable_water_production_gallons_2013_ag_exclu,calculated_commercial_agricultural_water_gallons,calculated_commercial_agricultural_water_gallons_2013,calculated_r_gpcd,qualification
0,1,East Bay Municipal Utilities District,CA0110005,2023-04-15T00:00:00,"Alameda,Contra Costa",San Francisco Bay,3,1440000,1379000,NaN,...,NaN,NaN,NaN,NaN,4.026000e+09,5.418000e+09,NaN,0.0,58.7125,1. To provide context…the average R-GPCD for A...
1,2,East Bay Municipal Utilities District,CA0110005,2023-03-15T00:00:00,"Alameda,Contra Costa",San Francisco Bay,3,1440000,1379000,Yes,...,739.0,NaN,NaN,NaN,3.672000e+09,4.928000e+09,NaN,0.0,47.7097,1. To provide context…the average R-GPCD for M...
2,3,East Bay Municipal Utilities District,CA0110005,2023-02-15T00:00:00,"Alameda,Contra Costa",San Francisco Bay,3,1440000,1379000,Yes,...,767.0,NaN,NaN,NaN,3.358000e+09,4.016000e+09,NaN,0.0,44.9732,1. To provide context…the average R-GPCD for F...
3,4,East Bay Municipal Utilities District,CA0110005,2023-01-15T00:00:00,"Alameda,Contra Costa",San Francisco Bay,3,1440000,1379000,Yes,...,939.0,NaN,NaN,NaN,3.696000e+09,4.099000e+09,NaN,0.0,48.0215,1. To provide context…the average R-GPCD for J...
4,5,East Bay Municipal Utilities District,CA0110005,2022-12-15T00:00:00,"Alameda,Contra Costa",San Francisco Bay,3,1430000,1379000,Yes,...,816.0,NaN,NaN,NaN,3.722000e+09,4.772000e+09,NaN,0.0,50.3767,1. To provide context…the average R-GPCD for D...

In [4]:
# Convert 'reporting_month' column to datetime
df['reporting_month'] = pd.to_datetime(df['reporting_month'])

# Create 'month_year' column in mm-yyyy format
df['month_year'] = df['reporting_month'].dt.strftime('%m-%Y')

# Display the modified DataFrame
df.head()

,_id,supplier_name,public_water_system_id,reporting_month,county,hydrologic_region,climate_zone,total_population_served,reference_2014_population,county_under_drought_declaration,...,reported_final_commercial_industrial_and_institutional_water,reported_recycled_water,reported_non_revenue_water,calculated_total_potable_water_production_gallons_ag_excluded,calculated_total_potable_water_production_gallons_2013_ag_exclu,calculated_commercial_agricultural_water_gallons,calculated_commercial_agricultural_water_gallons_2013,calculated_r_gpcd,qualification,month_year
0,1,East Bay Municipal Utilities District,CA0110005,2023-04-15,"Alameda,Contra Costa",San Francisco Bay,3,1440000,1379000,NaN,...,NaN,NaN,NaN,4.026000e+09,5.418000e+09,NaN,0.0,58.7125,1. To provide context…the average R-GPCD for A...,04-2023
1,2,East Bay Municipal Utilities District,CA0110005,2023-03-15,"Alameda,Contra Costa",San Francisco Bay,3,1440000,1379000,Yes,...,NaN,NaN,NaN,3.672000e+09,4.928000e+09,NaN,0.0,47.7097,1. To provide context…the average R-GPCD for M...,03-2023
2,3,East Bay Municipal Utilities District,CA0110005,2023-02-15,"Alameda,Contra Costa",San Francisco Bay,3,1440000,1379000,Yes,...,NaN,NaN,NaN,3.358000e+09,4.016000e+09,NaN,0.0,44.9732,1. To provide context…the average R-GPCD for F...,02-2023
3,4,East Bay Municipal Utilities District,CA0110005,2023-01-15,"Alameda,Contra Costa",San Francisco Bay,3,1440000,1379000,Yes,...,NaN,NaN,NaN,3.696000e+09,4.099000e+09,NaN,0.0,48.0215,1. To provide context…the average R-GPCD for J...,01-2023
4,5,East Bay Municipal Utilities District,CA0110005,2022-12-15,"Alameda,Contra Costa",San Francisco Bay,3,1430000,1379000,Yes,...,NaN,NaN,NaN,3.722000e+09,4.772000e+09,NaN,0.0,50.3767,1. To provide context…the average R-GPCD for D...,12-2022

In [5]:
import pandas as pd

# Assuming your CSV file is named 'reservoir_data.csv'
reservoir_df = pd.read_csv('./data/Reservoir_Monthly_Data.csv')

# Convert 'date' column to datetime
reservoir_df['DATE'] = pd.to_datetime(reservoir_df['DATE'])

# Extract month and year
reservoir_df['month_year'] = reservoir_df['DATE'].dt.strftime('%m-%Y')
reservoir_df.drop(['DATE'], axis=1, inplace=True)
reservoir_df.rename(columns={'STORAGE': 'reservoir_storage'}, inplace=True)
# Display the modified DataFrame
reservoir_df.head()

   reservoir_storage month_year
0          9247201.0    01-2014
1          8971363.0    01-2015
2          8790246.0    01-2016
3         16503134.0    01-2017
4         16297579.0    01-2018

In [6]:
# Merge the DataFrames on 'month_year'
merged_df = pd.merge(df, reservoir_df, on='month_year', how='left')

# Display the first few rows of the merged DataFrame
merged_df.head()
merged_df.columns

Index(['_id', 'supplier_name', 'public_water_system_id', 'reporting_month',
       'county', 'hydrologic_region', 'climate_zone',
       'total_population_served', 'reference_2014_population',
       'county_under_drought_declaration',
       'water_shortage_contingency_stage_invoked',
       'water_shortage_level_indicator',
       'dwr_state_standard_level_corresponding_to_stage',
       'water_production_units',
       'reported_preliminary_total_potable_water_production',
       'reported_final_total_potable_water_production',
       'preliminary_percent_residential_use', 'final_percent_residential_use',
       'reported_preliminary_commercial_agricultural_water',
       'reported_final_commercial_agricultural_water',
       'reported_preliminary_commercial_industrial_and_institutional_wa',
       'reported_final_commercial_industrial_and_institutional_water',
       'reported_recycled_water', 'reported_non_revenue_water',
       'calculated_total_potable_water_production_gallons_ag_excluded',
       'calculated_total_potable_water_production_gallons_2013_ag_exclu',
       'calculated_commercial_agricultural_water_gallons',
       'calculated_commercial_agricultural_water_gallons_2013',
       'calculated_r_gpcd', 'qualification', 'month_year',
       'reservoir_storage'],
      dtype='object')

In [7]:
ground_water=pd.read_csv('./data/i08_GroundwaterDepthSeasonal_Points.csv')
ground_water.columns

Index(['X', 'Y', 'OBJECTID', 'SITE_CODE', 'MSMT_DATE', 'EWM_STATION_ID',
       'WELL_NAME', 'SWN', 'WELL_USE', 'WLM_ORG_NAME', 'WSE', 'GSE_WSE', 'RPE',
       'GSE', 'MSMT_ISSUE', 'MSMT_YEAR', 'MSMT_SEASON', 'COMMENTS', 'SOURCE',
       'LAST_MODIFIED_DATE', 'MODIFIED_BY', 'DATE_DATA_REFERS_TO'],
      dtype='object')

In [8]:
# Convert 'MSMT_DATE' column to datetime
ground_water['MSMT_DATE'] = pd.to_datetime(ground_water['MSMT_DATE'])

# Extract month and year
ground_water['month_year'] = ground_water['MSMT_DATE'].dt.strftime('%m-%Y')
ground_water.drop(['MSMT_DATE', 'OBJECTID', 'SITE_CODE', 'SWN', 'SOURCE', 'MODIFIED_BY', 'EWM_STATION_ID', 'WELL_NAME'], axis=1, inplace=True)
ground_water.head()

,X,Y,WELL_USE,WLM_ORG_NAME,WSE,GSE_WSE,RPE,GSE,MSMT_ISSUE,MSMT_YEAR,MSMT_SEASON,COMMENTS,LAST_MODIFIED_DATE,DATE_DATA_REFERS_TO,month_year
0,-1.356611e+07,4.728593e+06,Other,1,NaN,NaN,39.89,39.39,NaN,2023,Spring,NaN,2023/10/01 00:00:00+00,2023/03/15 00:00:00+00,04-2023
1,-1.340200e+07,4.409710e+06,Irrigation,San Luis & Delta-Mendota Water Authority,109.69,23.31,134.08,133.00,,2018,Spring,NaN,2019/04/19 00:00:00+00,2018/03/15 00:00:00+00,03-2018
2,-1.339196e+07,4.132534e+06,Irrigation,5082,411.05,250.95,663.00,662.00,NaN,2021,Spring,NaN,2021/09/09 00:00:00+00,2021/03/15 00:00:00+00,03-2021
3,-1.363183e+07,4.611406e+06,Irrigation,2053,-5.17,17.60,12.43,12.43,NaN,2022,Spring,NaN,2022/10/01 00:00:00+00,2022/03/15 00:00:00+00,05-2022
4,-1.358730e+07,4.855268e+06,Irrigation,,172.52,26.90,200.12,199.42,NaN,2020,Spring,NaN,2020/03/24 08:39:12+00,2020/03/15 00:00:00+00,03-2020

In [ ]:
ground_water_dedup = ground_water.drop_duplicates(subset='month_year')
combi_df = pd.merge(merged_df, ground_water_dedup, on='month_year', how='left')
print(combi_df.head())  # Shows the first 5 rows
combi_df.columns

   _id                          supplier_name public_water_system_id  \
0    1  East Bay Municipal Utilities District              CA0110005
1    2  East Bay Municipal Utilities District              CA0110005
2    3  East Bay Municipal Utilities District              CA0110005
3    4  East Bay Municipal Utilities District              CA0110005
4    5  East Bay Municipal Utilities District              CA0110005

  reporting_month                county  hydrologic_region  climate_zone  \
0      2023-04-15  Alameda,Contra Costa  San Francisco Bay             3
1      2023-03-15  Alameda,Contra Costa  San Francisco Bay             3
2      2023-02-15  Alameda,Contra Costa  San Francisco Bay             3
3      2023-01-15  Alameda,Contra Costa  San Francisco Bay             3
4      2022-12-15  Alameda,Contra Costa  San Francisco Bay             3

   total_population_served  reference_2014_population  \
0                  1440000                    1379000
1                  1440000                    1379000
2                  1440000                    1379000
3                  1440000                    1379000
4                  1430000                    1379000

  county_under_drought_declaration  ...      WSE  GSE_WSE      RPE       GSE  \
0                              NaN  ...      NaN      NaN    39.89    39.390
1                              Yes  ...  2160.00  178.500  2339.50  2338.500
2                              Yes  ...     6.33  114.763   114.23   121.093
3                              Yes  ...   212.00  219.000   432.00   431.000
4                              Yes  ...      NaN      NaN      NaN       NaN

   MSMT_ISSUE  MSMT_YEAR  MSMT_SEASON  COMMENTS      LAST_MODIFIED_DATE  \
0         NaN     2023.0       Spring       NaN  2023/10/01 00:00:00+00
1         NaN     2023.0       Spring       NaN  2023/10/01 00:00:00+00
2         NaN     2023.0       Spring       NaN  2023/10/01 00:00:00+00
3         NaN     2023.0       Spring       NaN  2023/10/01 00:00:00+00
4         NaN        NaN          NaN       NaN                     NaN

      DATE_DATA_REFERS_TO
0  2023/03/15 00:00:00+00
1  2023/03/15 00:00:00+00
2  2023/03/15 00:00:00+00
3  2023/03/15 00:00:00+00
4                     NaN

[5 rows x 46 columns]

Index(['_id', 'supplier_name', 'public_water_system_id', 'reporting_month',
       'county', 'hydrologic_region', 'climate_zone',
       'total_population_served', 'reference_2014_population',
       'county_under_drought_declaration',
       'water_shortage_contingency_stage_invoked',
       'water_shortage_level_indicator',
       'dwr_state_standard_level_corresponding_to_stage',
       'water_production_units',
       'reported_preliminary_total_potable_water_production',
       'reported_final_total_potable_water_production',
       'preliminary_percent_residential_use', 'final_percent_residential_use',
       'reported_preliminary_commercial_agricultural_water',
       'reported_final_commercial_agricultural_water',
       'reported_preliminary_commercial_industrial_and_institutional_wa',
       'reported_final_commercial_industrial_and_institutional_water',
       'reported_recycled_water', 'reported_non_revenue_water',
       'calculated_total_potable_water_production_gallons_ag_excluded',
       'calculated_total_potable_water_production_gallons_2013_ag_exclu',
       'calculated_commercial_agricultural_water_gallons',
       'calculated_commercial_agricultural_water_gallons_2013',
       'calculated_r_gpcd', 'qualification', 'month_year', 'reservoir_storage',
       'X', 'Y', 'WELL_USE', 'WLM_ORG_NAME', 'WSE', 'GSE_WSE', 'RPE', 'GSE',
       'MSMT_ISSUE', 'MSMT_YEAR', 'MSMT_SEASON', 'COMMENTS',
       'LAST_MODIFIED_DATE', 'DATE_DATA_REFERS_TO'],
      dtype='object')

In [13]:
# Define columns to keep (the most relevant for water level prediction)
columns_to_keep = [
    'supplier_name',
    'county',
    'hydrologic_region', 
    'climate_zone',
    'total_population_served',
    'county_under_drought_declaration',
    'water_shortage_level_indicator',
    'reported_final_total_potable_water_production',
    'final_percent_residential_use',
    'reported_final_commercial_agricultural_water',
    'reported_final_commercial_industrial_and_institutional_water',
    'reported_recycled_water',
    'reported_non_revenue_water',
    'calculated_r_gpcd',
    'month_year',
    'reservoir_storage',
    'WSE',           # Water Surface Elevation
    'GSE_WSE',       # Groundwater depth (key predictor)
    'GSE',           # Ground Surface Elevation
    'MSMT_YEAR',
    'MSMT_SEASON'
]

# Drop all columns except those in columns_to_keep
df = combi_df[columns_to_keep]
df.columns

Index(['supplier_name', 'county', 'hydrologic_region', 'climate_zone',
       'total_population_served', 'county_under_drought_declaration',
       'water_shortage_level_indicator',
       'reported_final_total_potable_water_production',
       'final_percent_residential_use',
       'reported_final_commercial_agricultural_water',
       'reported_final_commercial_industrial_and_institutional_water',
       'reported_recycled_water', 'reported_non_revenue_water',
       'calculated_r_gpcd', 'month_year', 'reservoir_storage', 'WSE',
       'GSE_WSE', 'GSE', 'MSMT_YEAR', 'MSMT_SEASON'],
      dtype='object')

## Data Cleaning

In [14]:
# Make a copy to avoid modifying the original during cleaning
df_clean = df.copy()

In [16]:
# 1. supplier_name - standardize case and remove extra spaces
df_clean['supplier_name'] = df_clean['supplier_name'].str.strip().str.title()

# 2. county - standardize format
df_clean['county'] = df_clean['county'].str.strip().str.title()

# 3. hydrologic_region - standardize format
df_clean['hydrologic_region'] = df_clean['hydrologic_region'].str.strip().str.title()

In [ ]:
# 4. climate_zone - ensure numeric or categorical consistency
if df_clean['climate_zone'].dtype == 'object':
    df_clean['climate_zone'] = df_clean['climate_zone'].str.strip()
    # Convert to categorical if it's a limited set of values
    if df_clean['climate_zone'].nunique() < 20:  # Arbitrary threshold
        df_clean['climate_zone'] = df_clean['climate_zone'].astype('category')

# 5. total_population_served - ensure numeric and handle outliers
df_clean['total_population_served'] = pd.to_numeric(df_clean['total_population_served'], errors='coerce')

In [18]:
# Replace missing values with median
df_clean['total_population_served'] = df_clean['total_population_served'].fillna(df_clean['total_population_served'].median())

In [19]:
# Cap outliers at 99.5 percentile
upper_limit = df_clean['total_population_served'].quantile(0.995)
df_clean.loc[df_clean['total_population_served'] > upper_limit, 'total_population_served'] = upper_limit

In [20]:
# 6. county_under_drought_declaration - convert to boolean if text
if df_clean['county_under_drought_declaration'].dtype == 'object':
    # Map text values to boolean
    drought_map = {'yes': True, 'no': False, 'Yes': True, 'No': False, 'Y': True, 'N': False}
    df_clean['county_under_drought_declaration'] = df_clean['county_under_drought_declaration'].map(drought_map)
    # Fill missing with most common value
    df_clean['county_under_drought_declaration'] = df_clean['county_under_drought_declaration'].fillna(df_clean['county_under_drought_declaration'].mode()[0])

/var/folders/07/9b5fb41j6nd3s7576_kcfgh80000gn/T/ipykernel_8733/3825903499.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_clean['county_under_drought_declaration'] = df_clean['county_under_drought_declaration'].fillna(df_clean['county_under_drought_declaration'].mode()[0])

In [21]:
# 7. water_shortage_level_indicator - ensure numeric and handle missing values
df_clean['water_shortage_level_indicator'] = pd.to_numeric(df_clean['water_shortage_level_indicator'], errors='coerce')
# Fill missing with 0 (assuming 0 means no shortage)
df_clean['water_shortage_level_indicator'] = df_clean['water_shortage_level_indicator'].fillna(0)

In [22]:
# 8. reported_final_total_potable_water_production - ensure numeric and handle outliers
df_clean['reported_final_total_potable_water_production'] = pd.to_numeric(df_clean['reported_final_total_potable_water_production'], errors='coerce')
# Replace missing with median
df_clean['reported_final_total_potable_water_production'] = df_clean['reported_final_total_potable_water_production'].fillna(df_clean['reported_final_total_potable_water_production'].median())
# Cap outliers
upper_limit = df_clean['reported_final_total_potable_water_production'].quantile(0.995)
df_clean.loc[df_clean['reported_final_total_potable_water_production'] > upper_limit, 'reported_final_total_potable_water_production'] = upper_limit

In [23]:
# 9. final_percent_residential_use - ensure percentage is between 0-100
df_clean['final_percent_residential_use'] = pd.to_numeric(df_clean['final_percent_residential_use'], errors='coerce')
# Clip values to valid percentage range
df_clean['final_percent_residential_use'] = df_clean['final_percent_residential_use'].clip(0, 100)
# Fill missing with median
df_clean['final_percent_residential_use'] = df_clean['final_percent_residential_use'].fillna(df_clean['final_percent_residential_use'].median())

In [24]:
# 10. reported_final_commercial_agricultural_water - ensure numeric
df_clean['reported_final_commercial_agricultural_water'] = pd.to_numeric(df_clean['reported_final_commercial_agricultural_water'], errors='coerce')
# Fill missing with 0 (assuming no agricultural water if not reported)
df_clean['reported_final_commercial_agricultural_water'] = df_clean['reported_final_commercial_agricultural_water'].fillna(0)

In [25]:
# 11. reported_final_commercial_industrial_and_institutional_water - ensure numeric
df_clean['reported_final_commercial_industrial_and_institutional_water'] = pd.to_numeric(df_clean['reported_final_commercial_industrial_and_institutional_water'], errors='coerce')
# Fill missing with 0 (assuming no commercial/industrial water if not reported)
df_clean['reported_final_commercial_industrial_and_institutional_water'] = df_clean['reported_final_commercial_industrial_and_institutional_water'].fillna(0)

In [26]:
# 12. reported_recycled_water - ensure numeric
df_clean['reported_recycled_water'] = pd.to_numeric(df_clean['reported_recycled_water'], errors='coerce')
# Fill missing with 0 (assuming no recycled water if not reported)
df_clean['reported_recycled_water'] = df_clean['reported_recycled_water'].fillna(0)

In [27]:
# 13. reported_non_revenue_water - ensure numeric
df_clean['reported_non_revenue_water'] = pd.to_numeric(df_clean['reported_non_revenue_water'], errors='coerce')
# Fill missing with median
df_clean['reported_non_revenue_water'] = df_clean['reported_non_revenue_water'].fillna(df_clean['reported_non_revenue_water'].median())

In [28]:
# 14. calculated_r_gpcd - ensure numeric and handle outliers
df_clean['calculated_r_gpcd'] = pd.to_numeric(df_clean['calculated_r_gpcd'], errors='coerce')
# Replace missing with median
df_clean['calculated_r_gpcd'] = df_clean['calculated_r_gpcd'].fillna(df_clean['calculated_r_gpcd'].median())
# Cap outliers
upper_limit = df_clean['calculated_r_gpcd'].quantile(0.995)
df_clean.loc[df_clean['calculated_r_gpcd'] > upper_limit, 'calculated_r_gpcd'] = upper_limit

In [29]:
# 15. month_year - ensure consistent format
# Check if month_year is already in MM-YYYY format
if df_clean['month_year'].dtype == 'object':
    # Try to convert to datetime to standardize
    try:
        temp_dates = pd.to_datetime(df_clean['month_year'], errors='coerce')
        df_clean['month_year'] = temp_dates.dt.strftime('%m-%Y')
    except:
        # If conversion fails, keep as is
        pass

/var/folders/07/9b5fb41j6nd3s7576_kcfgh80000gn/T/ipykernel_8733/3325875065.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp_dates = pd.to_datetime(df_clean['month_year'], errors='coerce')

In [30]:
# 16. reservoir_storage - ensure numeric
df_clean['reservoir_storage'] = pd.to_numeric(df_clean['reservoir_storage'], errors='coerce')
# Fill missing with median
df_clean['reservoir_storage'] = df_clean['reservoir_storage'].fillna(df_clean['reservoir_storage'].median())

In [31]:
# 17. WSE (Water Surface Elevation) - ensure numeric
df_clean['WSE'] = pd.to_numeric(df_clean['WSE'], errors='coerce')
# Fill missing with median
df_clean['WSE'] = df_clean['WSE'].fillna(df_clean['WSE'].median())

# 18. GSE_WSE (Groundwater depth) - ensure numeric
df_clean['GSE_WSE'] = pd.to_numeric(df_clean['GSE_WSE'], errors='coerce')
# Fill missing with median
df_clean['GSE_WSE'] = df_clean['GSE_WSE'].fillna(df_clean['GSE_WSE'].median())

# 19. GSE (Ground Surface Elevation) - ensure numeric
df_clean['GSE'] = pd.to_numeric(df_clean['GSE'], errors='coerce')
# Fill missing with median
df_clean['GSE'] = df_clean['GSE'].fillna(df_clean['GSE'].median())

In [38]:
import datetime

# 20. MSMT_YEAR - ensure numeric and valid year
df_clean['MSMT_YEAR'] = pd.to_numeric(df_clean['MSMT_YEAR'], errors='coerce')

# Filter for reasonable year range
current_year = datetime.datetime.now().year  # This gets the current year as an integer
df_clean.loc[df_clean['MSMT_YEAR'] < 1900, 'MSMT_YEAR'] = np.nan
df_clean.loc[df_clean['MSMT_YEAR'] > current_year, 'MSMT_YEAR'] = np.nan

# Fill missing with most common year
df_clean['MSMT_YEAR'] = df_clean['MSMT_YEAR'].fillna(df_clean['MSMT_YEAR'].mode()[0])
df_clean['MSMT_YEAR'] = df_clean['MSMT_YEAR'].astype(int)

In [48]:
# 21. MSMT_SEASON - standardize season names
if df_clean['MSMT_SEASON'].dtype == 'object':
    # Map to standard season names
    season_map = {
        'spring': 'Spring', 'Spring': 'Spring', 'SPRING': 'Spring',
        'summer': 'Summer', 'Summer': 'Summer', 'SUMMER': 'Summer',
        'fall': 'Fall', 'Fall': 'Fall', 'FALL': 'Fall', 'autumn': 'Fall', 'Autumn': 'Fall',
        'winter': 'Winter', 'Winter': 'Winter', 'WINTER': 'Winter'
    }
    df_clean['MSMT_SEASON'] = df_clean['MSMT_SEASON'].map(season_map)
    # Convert to categorical
    df_clean['MSMT_SEASON'] = df_clean['MSMT_SEASON'].astype('category')

In [50]:
# Extract the month from the 'month_year' column
df_clean['month'] = df_clean['month_year'].str.split('-').str[0].astype(int)

# Define a function to map months to seasons
def month_to_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'
    else:
        return np.nan  # For any invalid month values

# Create a new column with the derived seasons
df_clean['derived_season'] = df_clean['month'].apply(month_to_season)

# Convert MSMT_SEASON to string type first to avoid categorical issues
df_clean['MSMT_SEASON'] = df_clean['MSMT_SEASON'].astype(str)

# Only fill missing MSMT_SEASON values with the derived seasons
# (NaN values will be converted to 'nan' strings by the astype(str) operation)
mask = df_clean['MSMT_SEASON'] == 'nan'
df_clean.loc[mask, 'MSMT_SEASON'] = df_clean.loc[mask, 'derived_season']

# Drop the temporary columns we created
df_clean = df_clean.drop(columns=['month', 'derived_season'])

# Check if we still have missing values (now they would be 'nan' strings)
missing_seasons = (df_clean['MSMT_SEASON'] == 'nan').sum()
print(f"Remaining missing values in MSMT_SEASON: {missing_seasons}")

# If there are still missing values, fill with the most common season
if missing_seasons > 0:
    most_common_season = df_clean['MSMT_SEASON'].value_counts().index[0]
    # Don't include 'nan' in the value counts
    if most_common_season == 'nan':
        most_common_season = df_clean['MSMT_SEASON'].value_counts().index[1]
    
    df_clean.loc[df_clean['MSMT_SEASON'] == 'nan', 'MSMT_SEASON'] = most_common_season
    print(f"Filled remaining missing values with most common season: {most_common_season}")

# Convert back to categorical
df_clean['MSMT_SEASON'] = df_clean['MSMT_SEASON'].astype('category')

Remaining missing values in MSMT_SEASON: 0

In [52]:
# Create derived features
# Water usage per capita
df_clean['water_usage_per_capita'] = df_clean['reported_final_total_potable_water_production'] / df_clean['total_population_served']

# Percentage of non-revenue water
df_clean['percent_non_revenue'] = (df_clean['reported_non_revenue_water'] / df_clean['reported_final_total_potable_water_production']) * 100
df_clean['percent_non_revenue'] = df_clean['percent_non_revenue'].clip(0, 100)  # Ensure valid percentage

In [53]:
# Final check for any remaining NaNs
print("Columns with missing values after cleaning:")
print(df_clean.isna().sum()[df_clean.isna().sum() > 0])

Columns with missing values after cleaning:
Series([], dtype: int64)

In [69]:
# Return the cleaned dataframe
df=df_clean.copy()
df

,supplier_name,county,hydrologic_region,climate_zone,total_population_served,county_under_drought_declaration,water_shortage_level_indicator,reported_final_total_potable_water_production,final_percent_residential_use,reported_final_commercial_agricultural_water,...,reservoir_storage,WSE,GSE_WSE,GSE,MSMT_YEAR,MSMT_SEASON,water_usage_per_capita,percent_non_revenue,month,derived_season
0,East Bay Municipal Utilities District,"Alameda,Contra Costa",San Francisco Bay,3,1405000,True,0.0,698.39,70.500000,0.0,...,17436075.0,120.74,58.500,39.390,2023,Spring,0.000497,0.110254,4,Spring
1,East Bay Municipal Utilities District,"Alameda,Contra Costa",San Francisco Bay,3,1405000,True,0.0,698.39,70.500000,0.0,...,17482504.0,2160.00,178.500,2338.500,2023,Spring,0.000497,0.110254,3,Spring
2,East Bay Municipal Utilities District,"Alameda,Contra Costa",San Francisco Bay,3,1405000,True,0.0,698.39,70.500000,0.0,...,14417219.0,6.33,114.763,121.093,2023,Spring,0.000497,0.110254,2,Winter
3,East Bay Municipal Utilities District,"Alameda,Contra Costa",San Francisco Bay,3,1405000,True,0.0,698.39,70.500000,0.0,...,13475785.0,212.00,219.000,431.000,2023,Spring,0.000497,0.110254,1,Winter
4,East Bay Municipal Utilities District,"Alameda,Contra Costa",San Francisco Bay,3,1405000,True,0.0,698.39,70.500000,0.0,...,9082173.0,120.74,58.500,229.000,2021,Winter,0.000497,0.110254,12,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42464,Santa Clarita Valley Water Agency,Los Angeles,South Coast,9,281937,True,0.0,5707.09,59.293249,0.0,...,6177217.0,4972.10,26.600,4998.700,2014,Fall,0.020242,0.785164,10,Fall
42465,Santa Clarita Valley Water Agency,Los Angeles,South Coast,9,281937,True,0.0,6320.49,57.992016,0.0,...,6628814.0,1162.70,228.300,1391.000,2014,Fall,0.022418,0.526858,9,Fall
42466,Santa Clarita Valley Water Agency,Los Angeles,South Coast,9,281087,True,0.0,7154.92,55.817842,0.0,...,7111695.0,120.74,58.500,229.000,2021,Summer,0.025454,0.693928,8,Summer
42467,Santa Clarita Valley Water Agency,Los Angeles,South Coast,9,281087,True,0.0,7847.23,57.849340,0.0,...,8174535.0,120.74,58.500,229.000,2021,Summer,0.027917,0.730576,7,Summer
42468,Santa Clarita Valley Water Agency,Los Angeles,South Coast,9,281087,True,0.0,7463.78,58.510511,0.0,...,9829646.0,120.74,58.500,229.000,2021,Summer,0.026553,0.736758,6,Summer

## EDA

In [70]:
print(f"Dataset shape: {df.shape}")
print(f"Number of columns: {len(df.columns)}")
print(f"Number of rows: {df.shape[0]}")
print("\nColumn names:")
print(df.columns.tolist())

Dataset shape: (42469, 25)
Number of columns: 25
Number of rows: 42469

Column names:
['supplier_name', 'county', 'hydrologic_region', 'climate_zone', 'total_population_served', 'county_under_drought_declaration', 'water_shortage_level_indicator', 'reported_final_total_potable_water_production', 'final_percent_residential_use', 'reported_final_commercial_agricultural_water', 'reported_final_commercial_industrial_and_institutional_water', 'reported_recycled_water', 'reported_non_revenue_water', 'calculated_r_gpcd', 'month_year', 'reservoir_storage', 'WSE', 'GSE_WSE', 'GSE', 'MSMT_YEAR', 'MSMT_SEASON', 'water_usage_per_capita', 'percent_non_revenue', 'month', 'derived_season']

In [71]:
print("Basic statistics for numerical columns:")
df.describe()

Basic statistics for numerical columns:

,climate_zone,total_population_served,water_shortage_level_indicator,reported_final_total_potable_water_production,final_percent_residential_use,reported_final_commercial_agricultural_water,reported_final_commercial_industrial_and_institutional_water,reported_recycled_water,reported_non_revenue_water,calculated_r_gpcd,reservoir_storage,WSE,GSE_WSE,GSE,MSMT_YEAR,water_usage_per_capita,percent_non_revenue,month
count,42469.000000,4.246900e+04,42469.0,4.246900e+04,42469.000000,4.246900e+04,4.246900e+04,4.246900e+04,4.246900e+04,42469.000000,4.246900e+04,42469.000000,42469.000000,42469.000000,42469.000000,42469.000000,42469.000000,42469.000000
mean,9.077869,8.477876e+04,0.0,2.241258e+07,69.691931,5.239601e+04,5.523364e+06,6.456262e+04,8.312600e+05,99.811105,1.301733e+07,522.368943,95.204130,634.354356,2019.444654,516.014861,1.686575,6.512115
std,3.802049,1.525733e+05,0.0,1.107492e+08,14.653750,1.245391e+06,4.972803e+07,1.187272e+06,1.659967e+07,53.326683,4.356500e+06,1230.402671,103.663748,1236.402989,2.447091,1649.451412,5.401463,3.456654
min,1.000000,1.000000e+02,0.0,3.059000e+00,0.050000,0.000000e+00,0.000000e+00,0.000000e+00,-4.800000e+01,10.640300,5.557797e+06,-250.000000,0.010000,0.990000,2014.000000,0.000497,0.000000,1.000000
25%,6.000000,2.078400e+04,0.0,2.356100e+02,62.000000,0.000000e+00,2.820000e+00,0.000000e+00,7.700000e-01,63.867100,9.551608e+06,69.720000,39.000000,169.700000,2017.000000,0.007210,0.000129,3.000000
50%,9.000000,4.376700e+04,0.0,6.983900e+02,70.500000,0.000000e+00,7.739800e+01,0.000000e+00,7.700000e-01,84.790300,1.240356e+07,120.740000,58.500000,229.000000,2021.000000,0.011689,0.107604,7.000000
75%,12.000000,9.255300e+04,0.0,2.323900e+03,79.000000,0.000000e+00,3.910700e+02,0.000000e+00,7.700000e-01,119.731000,1.650313e+07,212.000000,94.210000,349.000000,2021.000000,0.024001,0.539972,10.000000
max,16.000000,1.405000e+06,0.0,1.173994e+09,100.000000,5.192563e+07,1.401330e+09,7.233471e+07,9.801838e+08,358.823720,2.183631e+07,6285.860000,650.813000,6327.360000,2023.000000,17788.959454,100.000000,12.000000

In [72]:
missing_values = df_clean.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100
missing_df = pd.DataFrame({'Missing Values': missing_values, 
                          'Percentage': missing_percentage})
print("Missing values by column:")
missing_df[missing_df['Missing Values'] > 0].sort_values('Missing Values', ascending=False)

Missing values by column:

Empty DataFrame
Columns: [Missing Values, Percentage]
Index: []